@media (max-width: 426px) {
    .navbar {
        display: none;
    }

    .hero {
        width: fit-content;
        height: 140vh;
        display: flex;
        flex-direction: column;
        padding: 88px 18px 17px;
    }

    .box {
        width: 665px;
        gap: 10px;
    }

    .bx {
        font-size: 50px;
    }

    .box h5 {
        font-size: 40px;
    }

    .box h1 {
        font-size: 65px;
    }

    .box h4 {
        font-size: 40px;
    }

    .box3 img {
        padding: 20px 0;
    }

    .about {
        width: 170vw;
        display: flex;
        flex-direction: column;
        padding: 5rem 3% 2rem;
        height: 140vh;
    }

    .content h1 {
        font-size: 45px;
    }

    .content h3 {
        font-size: 40px;
        color: black;
    }

    .content p {
        margin: 25px 0;
        width: 150vw;
    }

    .main-btn {
        font-size: 15px;
        padding: 20px 40px 20px;
        border-radius: 35px;
    }

    .services {
        width: 170vw;
        height: 180vh;
    }

    .services h1 {
        font-size: 65px;
    }

    .service1 {
        display: flex;
        flex-direction: column;
        height: 150vh;
        gap: 25px;
    }

    .main-box {
        width: 130vw;
        border-radius: 50px;
    }

    .project {
        width: 170vw;
        height: 140vh;
    }

    .img1 img {
        width: 150vw;
        height: 50vh;
    }

    .vr {
        /* display: none; */
        transform: rotate(0deg);
        width: 150vw;
        height: 2px;
    }

    .contact {
        width: 170vw;
    }

    .contact_section {
        flex-direction: column;
    }

    .block {
        font-size: 35px;
    }

    .text_field {
        border: 4px solid grey;
        width: 160vw;
        height: 85px;
    }

    .btn3 {
        width: 55vw;
        padding: 20px;
        font-size: 30px;
    }

    .detail_box {
        width: auto;
        gap: 10px;
        padding: 70px;
    }

    .detail_box .bx {
        font-size: 30px;
    }

    .link1 .bx {
        padding: 30px 0;
        font-size: 55px;
    }

    .Copyright {
        height: 25px;
        padding: 4px;
    }
}